# Python 项目常用忽略文件
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# 虚拟环境
.venv/

# IDE 和 VS Code
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# 系统文件
.DS_Store
Thumbs.db

# 日志和临时文件
*.log
*.tmp